@font-face {
    font-family: 'AquawaxBold';
    src: url('../src/assets/fonts/AquawaxBold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'AquawaxMedium';
    src: url('../src/assets/fonts/AquawaxMedium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'AquawaxLight';
    src: url('../src/assets/fonts/AquawaxLight.ttf') format('truetype');
    font-weight: normal;
}

body{
    margin: 0;
}