@font-face {
    font-family: 'Aquawax';
    src: url(../src/assets/fonts/AquawaxBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aquawax';
    src: url(../src/assets/fonts/AquawaxMedium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aquawax';
    src: url(../src/assets/fonts/AquawaxLight.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    /* googles font */
    /* src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); */
    font-weight: normal;
}



body{
    margin: 0;
}